<div id="userInfoModal" class="w3-modal apiCanModal">
    <div class="w3-modal-content w3-card w3-animate-zoom" style='height:300px;overflow:scroll'>
        <header class ="w3-container">
                <h1>Information</h1>
        </header>

        <div class="w3-container" >
            <div class="w3-row">

            <span onclick="document.getElementById('userInfoModal').style.display='none'"
            class="w3-button w3-display-topright">
                <i class="fa fa-window-close w3-xxlarge"></i>
            </span>

            </div>
        </div>

        <div class="w3-container modalContent">
            <h1 id="userInfo"></h1> 
        </div>
</div>

</div>

<div id="modalWindow" class="w3-modal apiCanModal">
    <div class="w3-modal-content w3-card w3-animate-zoom" style='height:600px;overflow:scroll'>
        <header class ="w3-container">
                <h1 id="modalTitle">hellow world</h1>
        </header>

        <div class="w3-container" >
            <div class="w3-row">

            <span onclick="document.getElementById('modalWindow').style.display='none'"
            class="w3-button w3-display-topright">
                <i class="fa fa-window-close w3-xxlarge"></i>
            </span>

            </div>
        </div>

        <div id="modalContent" class="w3-container modalContent">
    
        </div>
    </div>
</div>
