<form class='w3-container w3-card-4 w3-light-grey'>
	<div class='w3-row'>
		<div class='w3-col m6 l6'>
					<h3>Selected Users</h3>
					<textarea  rows='5' cols='30' id="individuallySelectedUsers">
					</textarea>
		</div>

		<div class='w3-col m6 l6'>
			<div id="Demo1" class="w3-container">
				<h4>Actions</h4>
			<p>
				<input class="w3-check" type="checkbox">
				<label>Send Email</label><br/>
				<input class="w3-check" type="checkbox">
				<label>View Apps</label><br/>
				<input class="w3-check" type="checkbox">
				<label>View Subscriptions</label><br/>
				<input class="w3-check" type="checkbox">
				<label>Enforce OTP</label>
			<p>
		    </div>			
			<button class='w3-button w3-block w3-yellow' id="userActionGo">GO!!!</button>
            <br/>
		</div>
    </div>
</form>