<div class="w3-row">
    <div class="w3-col m6 l6 w3-left-align">
            <h2 class="w3-green w3-center">Scheduler</h2>

                <ul class="w3-ul w3-hoverable">
                    <li class="w3-text-black settingsItem">User Management</li>
                    <li class="w3-text-black settingsItem">Tenant Information Refresh (server)</li>
                    <li class="w3-text-black settingsItem">Tenant Information Refresh (client)</li>
                </ul> 
    </div>
</div>
