<br/>
<table id='{{this.name}}AccountsTable' class="display">

    <thead>
        <tr>
            <th>ID</th>
            <th>Org Name</th>
        </tr>
    </thead>
    <tbody id="{{this.name}}AccountsTableData">

    </tbody>

</table>
<script>

</script>

		
