<div id="userTableSection">
	<div class="w3-content w3-justify w3-padding-64" id="userMgtSection">
		{{>paneUserActions}}
	</div>		

<div class="w3-container w3-padding-64">
	<table 	class='w3-table w3-striped w3-bordered' 
				id="groupMembersTable">
	</table>
</div>
</div>
<script>

	function myFunction(id) {
  		var x = document.getElementById(id);
  		if (x.className.indexOf("w3-show") == -1) {
   			x.className += " w3-show";
  		} 
		else { 
    		x.className = x.className.replace(" w3-show", "");
  		}
	}


	$('#userAction').on('click', function(){
		selectedUsers.applySelectedActions()
	})
	

  
</script>


