<!DOCTYPE html>
<html lang="en">
    <title>{{title}}</title>
    {{>head/meta}}
    {{>head/styles}}
    {{>scripts/head}}

    <body>
        {{ body }}
        {{>scripts/bodyBottom}}
    </body>
</html>
