

  <label class="groupCreationLabel"><b>Description</b></label>
  <textarea rows='4' cols='50' class="w3-input w3-border" id="userGroupDescription"></textarea>

  
	<input class="w3-radio" type="radio" name="gender" value="male" checked>
	<label class='groupCreationLabel'>Any</label>

	<input class="w3-radio" type="radio" name="gender" value="female">
	<label class='groupCreationLabel'>Developer</label>

	<input class="w3-radio" type="radio" name="gender" value="female">
	<label class='groupCreationLabel'>API Provider</label>

  <label class="w3-text-yellow"><b>PROPERTIES (AND)</b></label>
  <BR/>
      <input class="w3-check" id='providerAccountSearchSelect' type="checkbox" checked="checked">
      <label class="groupCreationLabel">Provider Accounts</label>

      <P>

      <label class='w3-text-yellow'>KeyCloak</label>
      <BR/>

      <input class="w3-check" id='otpNotEnabledSelect' type="checkbox" checked="checked">
      <label class="groupCreationLabel">OTP Not Enabled</label>

      <br/>
      <input class="w3-check" id='keyCloakAccountSelect' type="checkbox" checked='checked'>
      <label class="groupCreationLabel">KeyCloak account</label>
  <br/><p style='padding-top:15px'>
  
