<div class="w3-container modalContent">

    <div style="display:flex">

        <div id="articleList" style="border-right:1px red inset;width:30%">
            <h3 id="">actions</h3>
             <UL id="example1">
                <LI>fdsa</LI>
                <LI>fdsf</LI>
                <LI>4dsf</LI>
            </UL>
        </div>

        <div style="width:70%">
            <h3>Editor</h3>

   <UL id="example2">
      <LI>fdsa</LI>
      <LI>fdsf</LI>
      <LI>4dsf</LI>
    </UL>

        </div>

    </div>
</div>
