
body {
    background-color: black; 
}

#topNav, #bottomNav {
    position: absolute; 
    background-color: var(--crackle);
    left: 0; 
    width: 100%; 
    z-index: 4; 
}
#topNav {
    position:absolute; 
    color: black; 
    top: 0;
    box-shadow: 2px, 2px; 
    z-index: 4; 
}

#topNav A{
    color: var(--sun);
    font-family: 'Original Surfer';
    vertical-align: 'middle' ;
    font-size: 1.4em; 
    padding-left: 20px;
    padding-top: 20px; 
}
    
#bottomNav {
    color:black; 
    box-shadow: 2px, 2px; 
}

#leftNav {
    position: absolute; 
    background-color: orange;  
    border-right: 1px black inset; 
    left: 0; 
    top: 0; 
    width: 150px; 
    z-index:3; 
}

#content {
    position: absolute; 
    left:0;
    background-color: var(--wood); 
    width:100%; 
}
