<div id="scheduleInspectModal" class="w3-modal" style='background-color:red'>

    <div  class="apiCanModal w3-modal-content w3-card-4 w3-animate-zoom" 
          style="width:1200px;">

    <header class="w3-container w3-blue">
        <h1>Scheduler</h1>
    </header>
    
    <div class="w3-container">
        <div class ='w3-row'>

          <div class='w3-col w3-container'>

            <span onclick="document.getElementById('scheduleInspectModal').style.display='none'" 
            class="w3-button w3-display-topright">
            <i class="fa fa-window-close w3-xxlarge"></i>
            </span>
            <div class='w3-container'>


            <table 
              id="scheduleInfo" class='w3-table w3-text-red w3-flat-turquoise w3-bordered w3-hoverable'
              style="margin-top: 20px; padding-bottom: 30px">
              <thead> 
			<tr class="w3-blue">
				<th>id</th>
				<th>title</th>
				<th>description</th>
				<th>frequency</th>
				<th>lastRefresh</th>
        </tr>
			</thead>
      <tbody>
        
      </tbody>

            </table>
            </div>
          </div>

        </div>
      </div>

          </div>
</div>