<div width="400px" class="w3-right w3-bar-item">
    <button class="accordion" ID='appStatus'>{{{state}}}</button>
    <div class="panel" id="appStatusDetail" width:'400px'>
        <table>
            <tr>
                <td>
                   <button id="btnRefreshTenants">Refresh Now</button>
                </td>
            </tr>
        </table>
    </div>
</div>
