 <div class="w3-bar w3-top w3-large" id="topNav">
         <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
          <i class="fa fa-bars"></i>  Menu
        </button>
        
	       <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" id="showScheduler">
          <i class="fa fa-clock-o" class='w3-xxxlarge' style="color:red"></i>  
        </button> 
        

</div>