
  <h2 style="padding-left:20px"> User Groups 
    <button id="newGroupFromMain" style="margin-left:30px">(create new)</button>
  </h2>
  <form class="w3-container">

    <table class="w3-table w3-bordered" id="userFormGroupList">
      <thead>
      <tr class="w3-text-black">
        <th>Group</th>
        <th>Load</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
   
    </tbody>
    </table>
  </form>
<br/>
