<hr  class="w3-bar-item"/>
  <h2>Store Admin</h2>
  <a ID="manageStoreNews" onclick="document.getElementById('storeNewsManageModal').style.display='block'" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-wifi w3-xxlarge leftNavIcon"></i>
    <p>NEWS</p>
  </a>
  {{> modalStoreNews/frame}}

  