<hr  class="w3-bar-item"/>
  <div id='userGroupNames' class="w3-left-align w3-text-green" style='padding-left:15px'>
    <table class="w3-text-green w3-table w3-medium" id='leftNavUserGroupList'>
      <thead>
      <tr>
        <th>Defined User Groups</th>
      </tr>
      </thead>
      <tbody class="w3-text-green">

      </tbody>
    </table> 
	</div>
  <hr  class="w3-bar-item"/>
