<!--<hr  class="w3-bar-item"/>
<div class="display:flex;flex-wrap:nowrap">

  <h2>Users</h2>
<div style="flex: 0 0 50px" class="w3-hover-black" >
    <i class="fa fa-code w3-xlarge leftNavIcon"></i>
    <p>IMPERSOeNATE</p>
  </a>
 </div> 

<div style="flex: 0 0 50px;">
    <a href="" class="w3-hover-black" >
    <i class="fa fa-code w3-xxlarge leftNavIcon"></i>
    <p>SUPPORT</p>
  </a>
</div>
</div>-->