
<form id='apiEssentialInfo' class="w3-container" style="padding-bottom:30px">
<div style="display:flex">
<div>
<table>
<tr>
<td>
State:
</td>
<td>
<input class="w3-input" id="apiInspectFormState" type="text">
</td>
</tr>

<tr>
<td>
Tenant Name:
</td>
<td>
<input class="w3-input" id="apiInspectFormTenantName" type="text">
</td>
</tr>

<tr>
<td>
Service ID:  
</td>
<td>
<input class="w3-input" id="apiInspectFormServiceID" type="text">
</td>
</tr>

<tr>
<td>
System Name:  
</td>
<td>
<input class="w3-input" id="apiInspectFormSystemName" type="text">
</td>
</tr>

<tr>
<td>
Creation Date: 
</td>
<td>
<input class="w3-input" id="apiInspectFormCreationDate" type="text">
</td>
</tr>
<tr>
<td>
Last Update: 
</td>
<td>
<input class="w3-input" id="apiInspectFormLastUpdate" type="text">
</td>
</tr>
</table>
</div>

    {{>modalServiceInspect/plans}}


</div>
<h3>Features</h3>
<div id="apiInspectFormFeatures"></div>

<h3>Documentation</h3>
<table>
    <tr>
        <td id='FrenchDocTitle'></td>
        <td id='EnglishDocTitle'></td>
    </tr>
    <tr>
        <td>
            <textarea cols='40' rows='10' id="frenchDoc"></textarea>
        </td>
        <td>
            <textarea cols='40' rows='10' id="englishDoc"></textarea>
        </td>
    </tr>
</table>

<h3>Tags</h3>
<span id="apiTags"></span>
</form>