<div id="storeNewsManageModal" class="w3-modal" style='background-color:red'>
    <div  class="apiCanModal w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1200px;">

    <header class="w3-container w3-blue">
        <h1>Store News Articles</h1>
    </header>
    <div class='w3-row w3-container'>

        <span onclick="document.getElementById('storeNewsManageModal').style.display='none'" 
            class="w3-button w3-display-topright">
            <i class="fa fa-window-close w3-xxlarge"></i>
        </span>
    </div>
    
    {{>modalStoreNews/ui}}

  </div>
</div>


