<div class="w3-container modalContent">

    <div style="display:flex">

        <div id="articleList" style="border-right:1px red inset;width:30%">
            <h3 id="testH3">actions</h3>
        </div>

        <div style="width:70%">
            <h3>Editor</h3>
        </div>

    </div>
</div>